#email {
    padding: 10px;
    border: 2px solid gray;
    border-radius: 5px;
    font-size: 16px;
}

#button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}



#rollNumber {
    margin-top: 10px;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 5px;
    font-size: 16px;
}

#campus {
    margin-top: 10px;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 5px;
    font-size: 16px;
}


#enterNumbers {
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/*-----------------start styleing all eliments from here------------------- */

#buttonCampus {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* style (click for more) text   */

#expent {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}


/* style (Click to get oder list) button */


#changeOderListButtonText {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#oderList {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;

}


/* style (click to get image) button */

#changeOderListButtonImage {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}


#min {
    text-align: center;
    margin: auto;
}

#oderListImage {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

/* -----------------chapter 52--------------- */

.bigImage {
    width: 500px;
    transition: width 1s;
}

.smallImage {
    width: 300px;
    transition: width 1s;
}

/* ------------------Chapter 53----------------- */

.imageHide {
    display: none;
}

.imageshow {
    display: block;
}


/* ----------------chapter 54-------------- */

.image{
    width: 300px;
    transition: width 2s;
}

.smallImage{
    width: 200px;
    transform: width 2s;
  
}


/* -----------------chapter 55--------------- */

.trasi{
    transition: all ease-in-out 0.5s;
}

#heading{
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    
}

/* <!-- -------------------chapter 56---------------- --> */

